adafruit-circuitpython-bh1750==1.1.12
adafruit-circuitpython-seesaw==1.16.4
adafruit-dht==1.4.0
colorama==0.4.6
dht11==0.1.0
flask-socketio==5.4.1
flask-sqlalchemy==3.1.1
lgpio==0.2.2.0
pip-chill==1.0.3
psycopg2==2.9.10
smbus2==0.5.0
w1thermsensor==2.3.0
