<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href=" {{ url_for('main_panel') }}">SmartPlant Monitor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('main_panel') }}">Panel główny</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('historic_data_charts') }}">Wykresy</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Kalibracja-wiglotność gleby</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Konfiguracja powiadomień</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Ustawienia</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Szukaj" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Szukaj</button>
      </form>
    </div>
  </div>
</nav>
<div>
  <span>Czas na twoim urządzeniu: </span> <p id="current-time"> Ładowanie...</p>
  <span>Czas na Raspberce: </span><p id="server-time"> Ładowanie...</p>
</div>

    <div class="content container mt-4">
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      const socket = io.connect();
      socket.on('server_time', function(data) {
          document.getElementById('server-time').innerText = data.time;
      });
    
      setInterval(updateTime, 1000);
      function updateTime() {
          const now = new Date();
          const formattedTime = now.toLocaleString('pl-PL', {
              year: 'numeric',
              month: '2-digit',
              day: '2-digit',
              hour: '2-digit',
              minute: '2-digit',
              second: '2-digit'
          });
          document.getElementById('current-time').innerText = formattedTime;
      }
    </script>
    
    
</body>
</html>
