{% extends "base.html" %}

{% block content %}
    <h1>Dane z Czujnika Światła</h1>
    <p id="sensor-data">Ładowanie danych czujnika...</p>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const socket = io();

            socket.on('sensor_data', function(data) {
                document.getElementById("sensor-data").innerText =
                    `Model: ${data.model}, Lux: ${data.lux}, Czas: ${data.timestamp}`;
            });
        });
    </script>
{% endblock %}