{% extends "base.html" %}
{%from "macros.html" import show_flash%}

{%block title%} Panel główny {%endblock%}

{% block content %}
{{ show_flash() }}
<h6> Odbiorca powiadomień </h6>
<form action="/save_email" method="POST">
    <div class="mb-3">
        <label for="email" class="form-label">Adres e-mail</label>
        <input type="email" class="form-control" id="email" name="email" value="{{email}}" required>
    </div>

    <button type="submit" class="btn btn-primary">Zapisz adresy e-mail</button>
</form>

    <h6>Skonfigurowane progi alarmowe</h6>
    <form action="{{ url_for('save_threshold_notifications') }}" method="POST">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Czujnik</th>
                    <th>Typ pomiaru</th>
                    <th>Minimalny próg</th>
                    <th>Maksymalny próg</th>
                    <th>Aktywuj powiadomienia</th>
                </tr>
            </thead>
            <tbody>
                {% for threshold in thresholds %}
                {% if threshold.min_value is not none or threshold.max_value is not none %}
                <tr>
                    <td>{{ threshold.sensor_name }}</td>
                    <td>{{ threshold.measurement_type_name }}</td>
                    <td>{{ threshold.min_value }}</td>
                    <td>{{ threshold.max_value }}</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="notification_{{ threshold.sensor_id }}_{{ threshold.measurement_type_id }}" id="yes" value="true" {{'checked' if threshold.notification_is_active}}>
                            <label class="form-check-label" for="yes">
                              Tak
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="notification_{{ threshold.sensor_id }}_{{ threshold.measurement_type_id }}" id="no" value="false" {{'checked' if not threshold.notification_is_active}}>
                            <label class="form-check-label" for="no">
                              Nie
                            </label>
                          </div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Zapisz konfigurację powiadomień</button>
    </form>

{%endblock%}


